<section>
  <button onclick={{action 'selectAll'}}>Select all</button>
  <button onclick={{action 'deselectAll'}}>Deselect all</button>
</section>
<section local-class="image">
  {{#each lightFixtures as |lightFixture|}}
    {{c-base-map-light lightFixture=lightFixture selectedIds=selectedIds select=select}}
  {{/each}}

  <img src="http://baseos.cbrp3.c-base.org/dmxdmon/mainhall.png" />
</section>
<section>
  {{#if selectedLightFixtures}}
    {{selectedLightFixtures.length}} Licht setzen
  {{else}}
    Alle Lichter setzen
  {{/if}}

  {{color-picker selectColor=(perform selectColor)}}

  <button onclick={{perform selectWhite true}}>WHITE ON</button>
  <button onclick={{perform selectWhite false}}>WHITE OFF</button>
</section>